@import "variables";

h1 {
  font-family: "Aladin", sans-serif;
  color: $almost-black;
}
  
.navbar-dark {
  background-color: $bright-green;
  font-family: "Raleway", sans-serif;
}

.logo {
  margin-right: 15px;
}

.website-name {
  margin-right: 30px;
}

  