/*variables ---------------------------------------------------------------------------------------------*/
$bright-green: #59916d;   /* header and footer background */
$light-gray: #f9f9f9;     /* navbar card headers backgrounds; HOVER font color: navbar, header Mantis */
$almost-black: #202020;   /* header, card header, and card body fonts */
$faded-gray: #f7f7f7;
